<?xml version="1.0" ?>
<robot name="balboa" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find balboa_description)/urdf/common_properties.urdf.xacro"/>
  <xacro:include filename="$(find balboa_description)/urdf/wheel.urdf.xacro"/>

  <!-- Create 3 base definition-->
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find balboa_description)/meshes/body.stl" />
      </geometry>
    </visual>
    <collision name="balboa_collision">
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="file://$(find balboa_description)/meshes/body.stl" />
      </geometry>
    </collision>
    <xacro:inertial_cuboid mass="1.0" x="0.005" y="0.02" z="0.05"/>
  </link>

  <!-- Wheels -->
  <gazebo>
    <plugin name="gazebo_diffdrive" filename="libgazebo_ros_diffdrive_controller.so">
    </plugin>
  </gazebo>

  <!-- Left wheel -->
  <xacro:wheel name="left" parent_link="base_link">
    <origin xyz="0 0.0155 0" rpy="${pi/2} 0 0"/>
  </xacro:wheel>

  <!-- Right wheel -->
  <xacro:wheel name="right" parent_link="base_link">
    <origin xyz="0 -0.0155 0" rpy="${pi/2} 0 0"/>
  </xacro:wheel>

</robot>
